html{
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.menu{
    position: relative;
    background-color: #000000;
    border-radius: 8px;
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 66%;
    justify-content: space-evenly;
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0);
    transition: 1s ;
}
.menu-item{
    padding: 10px 20px;
    margin-right: 20px; /* Adiciona margem à direita para separar os itens do menu */
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    position: right;
    z-index: 2;
    width: 100px;
    height: 50px;
    display: flex;
    margin-right: 0%;
    text-align: center;
}
.menu:hover{
    background-color:rgba(1, 1, 1, 0.922) ; 
    transition: 1s  background;
}
.Flogin{
    padding: 15px 30px;
    border-radius: 8px;
    border: 4px #ffffff;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-right: 10px; /* Adiciona margem à direita para separar o botão de login do botão de cadastrar */
    
    
    
}

.Flogin:hover {
    background-color: #ffffff;
}
.Fcadastrar{ 
        margin-left: 10px; /* Adiciona margem à esquerda para separar o botão de cadastrar do botão de login */
        padding: 15px 30px;
        border-radius: 8px;
        border: none;
        background-color: #6a61e7;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }

    .Fcadastrar:hover {
        background-color: #8a7fd2;
    }
                            





.tela-login{
    background-color: #dbd6db ;

    position :absolute;
    color: #100722;
    top: 50%;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px ;
    transform: translate(-50% ,-50%);
    padding: 80px;
    border-radius: 18px; 
}
input{
    padding: 15px;
    border: none;
    border-radius:15px ;
    outline: none;
    font-size: 20px;
}

.entrar{
    border: none;
    background-color: #6a61e7;
    color: antiquewhite;
    padding: 15px;
    width: 100%;
    border-radius: 18px;
    font-size: 16px;


}
.entrar:hover{
    background-color: rgb(201, 182, 255);
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
}

.itensF{
    justify-content: space-around;
    color: #fff;
    align-items: right;
    display: flex;
    float: center;
    font-family: cursive;
    font-size: 16px;
}
@keyframes colorChange {
    0% { border-color: rgb(0, 255, 238); }
    25% { border-color: rgb(0, 8, 255); }
    50% { border-color: rgb(255, 0, 166); }
    75% { border-color: rgb(128, 0, 107); }
    100% { border-color: rgb(255, 0, 247); }
}

.tela-login {
    width: 300px;
    padding: 30px;
    border: 6px solid;
    border-radius: 18px;
    background-color: #d2cdd2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: slideIn 0.5s ease-out, colorChange 2s linear infinite;
}